* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(36,36,36);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  width: fit-content;
}

h1 {
  font-size: 24px;
}

button {
  color: rgb(21,190,154);
  background-color: rgb(27,47,49);
  border-radius: 5px;
  padding: 12px 25px;
  align-self: flex-start;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}